<div class="bg-gray-100 min-h-screen flex flex-col items-center justify-center">
    <div class="text-center mb-8 bg-green-400">
        <h1 class="text-4xl font-bold">Welcome to My Projects</h1>
        <!-- <p class="text-xl mt-4">Explore my portfolio of projects created with Angular!</p>
        <a routerLink="/projects" class="text-blue-500 hover:underline mt-4">View Projects</a> -->
        <div class="flex justify-center items-center h-3/4"> <!-- Adjust h-3/4 to your desired height -->
            <img class="w-full " src="https://wallpapercave.com/dwp2x/wp6078897.jpg" alt="Project 1">
        </div>
    </div>
    

    
 
</div>


<!-- <h1>Welcome to Home Page</h1>
<button (click)="Logout()">Logout</button> -->

