<!-- <nav class="bg-purple-700 py-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white font-semibold text-lg">Todo App</div>
        <ul class="flex space-x-4">
            <li>
                <a href="/" class="text-white hover:text-gray-300">Home</a>
            </li>
            <li>
                <a href="/cart" class="text-white hover:text-gray-300">Cart</a>
            </li>
        </ul>
    </div>
</nav> -->
<!-- <div class="container mx-auto flex justify-between items-center ml-2"> -->
    <nav class="bg-purple-700 py-4 ">
        <div class="container mx-auto flex justify-between items-center box-border">
            <div class="text-white font-semibold text-lg ml-4">Todo App</div>
            <ul class="flex space-x-4 ml-auto mx-3 mr-4">
                <li>
                    <a href="/" class="text-white hover:text-gray-300">Home</a>
                </li>
                <li>
                    <a href="/cart" class="text-white hover:text-gray-300">Cart</a>
                </li>
            </ul>
        </div>
    </nav>

<!-- </div> -->



